<% layout("layouts/boilerplate") %> 
<h1 class="text-center">List of all Campgrounds</h1>

<form action="/campgrounds/new" method="GET">
  <button class="btn btn-primary mb-1" type="submit">Create New CampSite</button>
</form>

<ul>
  <% for(let cp of campgrounds) {%>
    <div class="card mx-auto mb-1" style="width: 50%;">
      <img class="card-img-top image-fluid" src="https://picsum.photos/1200/800" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= cp.title%></h5>
        <p class="card-text"><%= cp.description %></p>
        <a href="/campgrounds/<%= cp._id %>" class="btn btn-primary">View More</a>
      </div>
    </div>
  <% }%>
</ul>